<div class="quantum-footer">
    <div class="container">
        <div class="row mb-4">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <div class="d-flex align-items-center mb-3">
                    <i class="fas fa-ticket-alt quantum-logo-icon"></i>
                    <span class="quantum-logo-text">QuantumDesk</span>
                </div>
                <p class="quantum-text-muted">La solution de gestion de tickets nouvelle génération pour des équipes de support efficaces et des clients satisfaits.</p>
                <div class="d-flex mt-3">
                    <a href="#" class="me-3 quantum-social-icon"><i class="fab fa-twitter fa-lg"></i></a>
                    <a href="#" class="me-3 quantum-social-icon"><i class="fab fa-linkedin fa-lg"></i></a>
                    <a href="#" class="me-3 quantum-social-icon"><i class="fab fa-facebook fa-lg"></i></a>
                    <a href="#" class="quantum-social-icon"><i class="fab fa-instagram fa-lg"></i></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
                <h5 class="quantum-footer-title">Produit</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="quantum-footer-link">Fonctionnalités</a></li>
                    <li class="mb-2"><a href="#" class="quantum-footer-link">Tarifs</a></li>
                    <li class="mb-2"><a href="#" class="quantum-footer-link">Démos</a></li>
                    <li class="mb-2"><a href="#" class="quantum-footer-link">Roadmap</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
                <h5 class="quantum-footer-title">Support</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="quantum-footer-link">Centre d'aide</a></li>
                    <li class="mb-2"><a href="#" class="quantum-footer-link">Documentation</a></li>
                    <li class="mb-2"><a href="#" class="quantum-footer-link">API</a></li>
                    <li class="mb-2"><a href="#" class="quantum-footer-link">API</a></li>
                    <li class="mb-2"><a href="#" class="quantum-footer-link">Communauté</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4 mb-4 mb-md-0">
                <h5 class="quantum-footer-title">Entreprise</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="quantum-footer-link">À propos</a></li>
                    <li class="mb-2"><a href="#" class="quantum-footer-link">Blog</a></li>
                    <li class="mb-2"><a href="#" class="quantum-footer-link">Carrières</a></li>
                    <li class="mb-2"><a href="#" class="quantum-footer-link">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-4">
                <h5 class="quantum-footer-title">Légal</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#" class="quantum-footer-link">Confidentialité</a></li>
                    <li class="mb-2"><a href="#" class="quantum-footer-link">Conditions</a></li>
                    <li class="mb-2"><a href="#" class="quantum-footer-link">RGPD</a></li>
                    <li class="mb-2"><a href="#" class="quantum-footer-link">Sécurité</a></li>
                </ul>
            </div>
        </div>
        <hr class="bg-light opacity-25">
        <div class="row text-center">
            <div class="col-12">
                <p class="mb-0 quantum-text-muted">© @DateTime.Now.Year QuantumDesk. Tous droits réservés.</p>
            </div>
        </div>
    </div>
</div>