@model Ticketing_System.Models.TeamMember

@{
    Layout = User.IsInRole("Admin") ? "~/Views/Shared/_AdminLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";
}


<h2>@ViewData["Title"]</h2>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}

<form asp-action="AddAgent" method="post">
    <div class="form-group">
        <label>Nom</label>
        <input type="text" name="FirstName" class="form-control" required />
    </div>

    <div class="form-group">
        <label>Prénom</label>
        <input type="text" name="LastName" class="form-control" required />
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="email" name="Email" class="form-control" required />
    </div>

    <div class="form-group">
        <label>Mot de passe</label>
        <input type="password" name="Password" class="form-control" required />
    </div>

    <button type="submit" class="btn btn-primary mt-2">Créer l’agent</button>
</form>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
