
@{
    Layout = User.IsInRole("Admin") ? "~/Views/Shared/_AdminLayout.cshtml" : "~/Views/Shared/_Layout.cshtml";
}


@model Ticketing_System.Models.SupportTeam

@{
    ViewData["Title"] = "Supprimer une équipe";
}

<h2>Supprimer l’équipe</h2>

<div>
    <h4>Êtes-vous sûr de vouloir supprimer cette équipe ?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Nom</dt>
        <dd class="col-sm-10">@Model.TeamName</dd>

        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@Model.Description</dd>

        <dt class="col-sm-2">Manager</dt>
        <dd class="col-sm-10">@Model.Manager?.UserName</dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="TeamID" />
        <button type="submit" class="btn btn-danger">Supprimer</button>
        <a asp-action="Index" class="btn btn-secondary">Annuler</a>
    </form>
</div>
